<div class="overlay" (click)="onOverlayClicked($event)"
[@slideUpAnimation]="state"
(@slideUpAnimation.done)="animationEnded($event)">
    <div class="dialog" [ngStyle]="{height: height}" (click)="onDialogClicked($event)">
        <div class="dialog-header">
            <div class="dialog-header-title">
                {{ title }}
            </div>
            <button mat-icon-button (click)="state = 'close'">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
        <div class="dialog-body">
            <ng-template appInsertion> </ng-template>
        </div>
    </div>
</div>
  