.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    background: rgb(255, 255, 255, 0.8);
}

.dialog {
    padding: 16px 24px;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: calc(100% - 48px);
    

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        &-title {
            font-size: 1.6em;
        }

    }

    &-body {
        height: 100%;
    }

}

.small-dialog {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0px 2px 0px black;
}