.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.dialog {
    padding: 24px;
    background-color: white;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;

        &-title {
            font-size: 1.6em;
        }

    }

    &-body {
        height: 100%;
    }

}