<div class="payment-sources">
    <div class="payment-sources-container">
        <div class="payment-sources-title">
            Payment Source
        </div>
        <div class="payment-sources-create">
            <button mat-flat-button color="accent" (click)="openAddPaymentSource()">Add Payment Source</button>
        </div>
        <div class="payment-sources-section">
            <div class="payment-sources-list" *ngFor="let paymentSource of paymentSources">
                <div class="payment-sources-name">
                    {{ paymentSource.name }}
                    <div class="payment-sources-type">
                        <span class="payment-sources-type-label">Type:</span> <span class="payment-sources-type-value"> {{ paymentSource.paymentSourceType.name }}</span>
                    </div>
                </div>
                <div class="payment-sources-actions">
                    <button mat-icon-button color="accent" (click)="openEditPaymentSource(paymentSource)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="payment-sources-actions-delete" (click)="deletePaymentSource(paymentSource)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
