<div class="overlay" (click)="onOverlayClicked($event)"
[@slideUpAnimation]="state"
(@slideUpAnimation.done)="animationEnded($event)">
    <div class="confirm-dialog">
        <div class="confirm-dialog-header">
            <div class="confirm-dialog-header-title">
                Confirm
            </div>
        </div>
        <div class="confirm-dialog-body" (click)="onDialogClicked($event)">
            {{ message }}
        </div>
        <div class="confirm-dialog-footer">
            <button mat-flat-button color="accent" (click)="onCloseClick(false)">No</button>
            <button mat-flat-button color="accent" (click)="onCloseClick(true)">Yes</button>
        </div>
    </div>
</div>
  