$asbestos-color:#7f8c8d;
$black-color: #000000;
$clouds-color: #ecf0f1;

%display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-up-text-animation {
    padding: 4px 0;
    overflow: hidden;

    div {
        animation: slide-up 0.3s linear 0.3s 1 forwards;
        position: relative;
        top: 32px;
    }

    @keyframes slide-up {
        0% {
            top: 32px;
        }
        50% {
            top: 16px
        }
        75% {
            top: 8px;
        }
        100% {
            top: 0;
        }
    }

}