<div class="edit-category">
    <form class="categories-form" [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="categories-create-field">
            <mat-label>Category Name</mat-label>
            <input matInput formControlName="name" autocomplete="off">
            <mat-error *ngIf="editCategoryForm.get('name')!.invalid">Please enter a valid category name</mat-error>
          </mat-form-field>
            <button type="submit" mat-flat-button color="accent" [disabled]="editCategoryForm.invalid">Edit</button>
    </form>
</div>