<div class="items">
    <div class="items-container">
        <div class="items-title slide-up-text-animation">
            <div>
                Items
            </div>
        </div>
        <div class="items-create-section">
            <form class="items-form" [formGroup]="createItemForm" (ngSubmit)="onSubmit">
                <mat-form-field appearance="fill" class="items-create-field">
                    <mat-label>Item Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                    <mat-error *ngIf="createItemForm.get('name')!.invalid">Please enter a valid item name</mat-error>
                  </mat-form-field>
                    <button type="submit" mat-flat-button color="accent" [disabled]="createItemForm.invalid">Create</button>
                </form>
        </div>
        <div class="items-list-section">
            <div class="items-list" *ngFor="let item of items">
                <div class="items-list-name">
                    {{ item.name }}
                </div>
                <div class="items-list-action">
                    <button mat-icon-button color="accent" (click)="onEditClick(item)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="items-delete-icon" (click)="onDeleteClick(item)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
