<div class="create-spending">
  <div class="create-spending-container">
    <div class="create-spending-header">
      <div class="create-spending-header-title">
        Create Spending
      </div>
    </div>
    <div class="create-spending-body" #createSpendingBody>

      <form (ngSubmit)="onSubmit()" [formGroup]="createSpendingForm">

        <mat-form-field appearance="fill">
          <mat-label>Spending Date</mat-label>
          <input matInput [matDatepicker]="picker" required formControlName="spendingDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="createSpendingForm.get('spendingDate')!.invalid">Please select a date</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Vendor</mat-label>
          <input type="text" matInput [matAutocomplete]="autoVendors" formControlName="vendor" required>
          <mat-autocomplete #autoVendors="matAutocomplete" [displayWith]="displayProperty">
            <mat-option *ngFor="let vendor of filteredVendors" [value]="vendor">
              {{ vendor.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="createSpendingForm.get('vendor')!.invalid">Please select a vendor</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Referred Vendor</mat-label>
          <input type="text" matInput [matAutocomplete]="autoReferredVendors" formControlName="referredVendor">
          <mat-autocomplete #autoReferredVendors="matAutocomplete" [displayWith]="displayProperty">
            <mat-option *ngFor="let vendor of filteredReferredVendors" [value]="vendor">
              {{ vendor.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Labels</mat-label>
          <mat-select formControlName="labels" multiple>
            <mat-option *ngFor="let label of labels" [value]="label._id">{{label.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="create-spending-items-tabs" formArrayName="items">
          <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab *ngFor="let itemFormGroup of getControls(); let i = index">
              <ng-template mat-tab-label>
                <div class="create-spending-item-tab-header">
                  <span class="create-spending-item-tab-title">Item {{ i + 1 }}</span>
                </div>
                <mat-icon [ngStyle]="{'opacity': i === 0 ? 0 : 1}" class="create-spending-close-tab-button"
                  (click)="onCloseTabClick($event, i)">clear</mat-icon>
              </ng-template>
              <div class="create-spending-item-tab-body" [formGroup]="itemFormGroup">

                <mat-form-field appearance="fill">
                  <mat-label>Item</mat-label>
                  <input type="text" matInput [matAutocomplete]="autoItems" name="items" formControlName="name"
                    required>
                  <mat-autocomplete #autoItems="matAutocomplete" [displayWith]="displayProperty">
                    <mat-option *ngFor="let item of filteredItems[i]" [value]="item">
                      {{ item.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="itemFormGroup.get('name')!.invalid">Please select a item</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Units</mat-label>
                  <input type="text" matInput [matAutocomplete]="autoUnits" name="units" formControlName="units">
                  <mat-autocomplete #autoUnits="matAutocomplete" [displayWith]="displayProperty">
                    <mat-option *ngFor="let unit of filteredUnits[i]" [value]="unit">
                      {{ unit.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" formControlName="quantity">
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Single Unit Price</mat-label>
                  <input matInput type="number" class="right-align" placeholder="0" formControlName="singleUnitPrice">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="fill" floatLabel="always">
                  <mat-label>Amount</mat-label>
                  <input matInput type="number" class="right-align" placeholder="0" formControlName="amount" required>
                  <span matPrefix>$&nbsp;</span>
                  <mat-error *ngIf="itemFormGroup.get('amount')!.invalid">Please enter amount</mat-error>
                </mat-form-field>

              </div>
            </mat-tab>
            <mat-tab disabled>
              <ng-template mat-tab-label>
                <button mat-icon-button class="create-spending-add-tab-button" (click)="onAddTabClick($event)">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </ng-template>
            </mat-tab>
          </mat-tab-group>

        </div>

        <div *ngIf="!nonEmiTransaction">
          <mat-form-field appearance="fill">
            <mat-label>Loan</mat-label>
            <input type="text" matInput [matAutocomplete]="loans" formControlName="loanId" required>
            <mat-autocomplete #loans="matAutocomplete" [displayWith]="displayProperty">
              <mat-option *ngFor="let loan of filteredLoans" [value]="loan">
                {{ loan.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="createSpendingForm.get('loanId')!.invalid">Please select a loan</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" floatLabel="always">
            <mat-label>Remaining Amount</mat-label>
            <input matInput type="number" class="right-align" placeholder="0" formControlName="remainingAmount">
            <span matPrefix>$&nbsp;</span>
          </mat-form-field>

        </div>

        <mat-form-field appearance="fill" floatLabel="always" *ngIf="nonEmiTransaction">
          <mat-label>Total Amount</mat-label>
          <input matInput type="number" class="right-align" placeholder="0" formControlName="totalAmount" required>
          <span matPrefix>$&nbsp;</span>
          <mat-error *ngIf="createSpendingForm.get('totalAmount')!.invalid">Please enter total amount</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fund Source</mat-label>
          <input type="text" matInput [matAutocomplete]="paymentSources" formControlName="fundSource" [required]="nonEmiTransaction">
          <mat-autocomplete #paymentSources="matAutocomplete" [displayWith]="displayProperty">
            <mat-option *ngFor="let fundSource of filteredFundSources" [value]="fundSource">
              {{ fundSource.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="createSpendingForm.get('fundSource')!.invalid">Please select a payment source</mat-error>
        </mat-form-field>

        <div formGroupName="additionalInfo">
          <mat-form-field appearance="fill" floatLabel="always" *ngFor="let additionalFieldName of additionalFieldNames">
              <mat-label>{{ additionalFieldName }}</mat-label>
              <input matInput type="number" class="right-align" placeholder="0" [formControlName]="additionalFieldName" autocomplete="off">
              <span matPrefix>$&nbsp;</span>
          </mat-form-field>
        </div>

        <div class="create-spending-footer">
          <div>
            <app-add-field (newFieldCreated)="onNewFieldCreated($event)"></app-add-field>
            <mat-checkbox (change)="onEmiTransactionChange()">
              EMI Transaction
            </mat-checkbox>
          </div>
          <button type="submit" mat-flat-button color="accent" class="create-spending-footer-button">Create Spending</button>
        </div>

      </form>
    </div>
  </div>
</div>