@import '../../shared-styles.scss';

.create-spending {

    display: flex;
    height: 100%;
    width: 100%;

    &-header {
        padding: 4px 0;
        overflow: hidden;
        &-title {
            animation: move-up 0.3s linear 0.3s 1 forwards;
            position: relative;
            top: 32px;
        }
    }

    @keyframes move-up {
        0% {
            top: 32px;
        }
        50% {
            top: 16px
        }
        75% {
            top: 8px;
        }
        100% {
            top: 0;
        }
    }

    &-container {
        padding: 18px;
        height: 100%;
        width: calc(100% - 32px);
    }

    &-body {
        overflow: auto;
        height: calc(100vh - 70px);
    }

    &-items-tabs {
        border: 1px solid #bdc3c7;
        border-radius: 4px;
        margin-bottom: 12px;
    }

    &-header {
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 18px;
    }

    &-add-tab-button {
        position: absolute;
        left: 2px;
        top: 3px;
        color: black;
    }

    &-close-tab-button {
        position: absolute;
        right: -2px;
        top: 15px;
        color: red;
        font-size: 18px;
    }

    &-item-tab-header {
        margin-right: 16px;
        width:50px
    }

    &-item-tab-title {
        position: absolute;
        left:12px;
        top: 14px
    }

    &-item-tab-body {
        padding-top: 16px;
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;

        &-button {
            flex-shrink: 0;
        }

    }

    &-emi-section {
        border: 1px solid #bdc3c7;
        margin-top: 12px;
        padding-top: 18px;
        margin-bottom: 18px;
        position: relative;

        &::before {
            content: 'EMI';
            position: absolute;
            top: -10px;
            left: 12px;
            background: white;
            letter-spacing: 1px;
        }
    }

}

.right-align {
    text-align: right;
}

mat-form-field {
    width: 100%;
}