<div class="categories">
    <div class="categories-container">
        <div class="categories-title">
            Categories
        </div>
        <div class="categories-create-section">
            <form class="categories-form" [formGroup]="createCategoryForm" (ngSubmit)="onSubmit">
                <mat-form-field appearance="fill" class="categories-create-field">
                    <mat-label>Category Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                    <mat-error *ngIf="createCategoryForm.get('name')!.invalid">Please enter a valid category name</mat-error>
                  </mat-form-field>
                    <button type="submit" mat-flat-button color="accent" [disabled]="createCategoryForm.invalid">Create</button>
                </form>
        </div>
        <div class="categories-list-section">
            <div class="categories-list" *ngFor="let category of categories">
                <div class="categories-list-name">
                    {{ category.name }}
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button color="accent" (click)="onEditClick(category)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="categories-delete-icon" (click)="onDeleteClick(category)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
