<div class="categories">
    <div class="categories-container">
        <div class="categories-title">
            Categories
        </div>
        <div class="categories-create-section">
            <form class="categories-form">
                <mat-form-field appearance="fill" class="categories-create-field">
                    <mat-label>Category Name</mat-label>
                    <input matInput>
                    <!-- <mat-error *ngIf="signupForm.get('name')!.invalid">Please enter a valid name</mat-error> -->
                  </mat-form-field>
                    <button type="submit" mat-flat-button color="accent" class="register-button">Create</button>
                </form>
        </div>
        <div class="categories-list-section">
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="categories-delete-icon">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="categories-list">
                <div class="categories-list-name">
                    Test
                </div>
                <div class="categories-list-action">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
