<nav class="navbar">
    <input type="checkbox" id="check" class="checkbox" hidden>
    <div class="hamburger-menu">
        <label for="check" class="menu">
            <div class="menu-line menu-line-1"></div>
            <div class="menu-line menu-line-2"></div>
            <div class="menu-line menu-line-3"></div>
        </label>
    </div>
    <div class="navbar-navigation">
        <div class="header">
            Expense Tracker
        </div>
        <!-- <div class="menu-item">
        </div> -->
        <label for="check" class="menu-item" matRipple routerLink="/home/dashboard">Dashboard</label>
        <label for="check" class="menu-item" matRipple routerLink="/home/items">Items</label>
        <label for="check" class="menu-item" matRipple routerLink="/home/units">Units</label>
        <label for="check" class="menu-item" matRipple routerLink="/home/labels">Labels</label>
        <label for="check" class="menu-item" matRipple routerLink="/home/vendors">Vendors</label>
        <label for="check"class="menu-item" matRipple routerLink="/home/fundsources">Fund Sources</label>
        <label for="check"class="menu-item" matRipple routerLink="/home/loans">Loans</label>
        <label for="check"class="menu-item" matRipple routerLink="/home/spending">Spending</label>
        <label for="check"class="menu-item" matRipple routerLink="/home/recharges">Recharges</label>
        <label for="check"class="menu-item" matRipple routerLink="/home/rent-lease">Rent / Lease</label>
    </div>
</nav>