<form class="add-edit-building" [formGroup]="createBuildingForm">
    <div class="add-edit-building-body">
        <mat-form-field appearance="fill">
            <mat-label>Building Name</mat-label>
            <input matInput type="text" required formControlName="name" autocomplete="off">
            <mat-error *ngIf="createBuildingForm.get('name')?.invalid">Please enter building Name</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Buidling Address</mat-label>
            <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
        <mat-radio-group aria-label="Select an option" formControlName="isRented">
            <mat-radio-button [value]="true">Rented</mat-radio-button>
            <mat-radio-button [value]="false">Leased</mat-radio-button>
          </mat-radio-group>
        <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="add-edit-building-footer">
        <button type="submit" mat-flat-button color="accent">Add Buidling</button>
    </div>
</form>
